streamlit
pandas
plotly
numpy
altair
requests
# Untuk mengintegrasikan Folium (peta interaktif)
folium
streamlit-folium
# Untuk menangkap event klik pada grafik Plotly
streamlit-plotly-events
openpyxl
